body {
    background-color:   #8E91FF;
}

.container1 {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    padding-top: 8em;
    padding-bottom: 4em;
}

.clouds {
   display: flex; 
   flex-direction: row;
   justify-content: space-between;
}



.box1 {

display: flex;
flex-direction: column;
justify-content: center;
width: 34.375em;
height: 18.750em;
background:   forestgreen;
color: whitesmoke;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 1em;
font-style: italic;
text-align: center;
border: 1.5em;
border-radius: 2em;
border-style:ridge;
border-color: #B35E21;


}

.box1:hover {
     transform: scale(1.2); 
  }



