body {
    background-color: #ff7400;
}

.container1 {
    display: flex; 
    justify-content: center;
    padding-top: 9.375em;
}

.box1 {

display: inline-block;
width: 34.375em;
height: 18.750em;
background:  #c9de96;
color: black;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 1em;
font-style: italic;
text-align: center;
}